name: Publish Package to npmjs
on: workflow_dispatch
permissions:
  id-token: write  # Required for OIDC
  contents: write
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: npm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        working-directory: ./web
      - run: npm run build && npm publish --provenance --access public
        working-directory: ./web/packages/api
